{% extends "shop/../accounts/base.html" %}

{% block title %}
    MY CART
{% endblock title %}

{% block content %}
    {% load static  %}
    {% load thumbnail %}
    {% load shop_extras %}


    <link rel="stylesheet" type='text/css' href="{% static 'shop/cart.css' %}">
   
    <div class="content">
        <div id="pagetitle">
            <h3>SHOPPING CART</h3>
        </div>
        
        <form action="{% url 'shop:delete_cart' user.pk %}" method="POST">
            <div class="order_list">
                <table>
                    <thead>
                    <tr>
                        <th class="thumb">
                            SELECT
                        </th>
                        <th class="thumb">
                            IMAGE
                        </th>
                        <th class="product">
                            PRODUCT
                        </th>
                        <th class="quantity">
                            QUANTITY
                        </th>
                        <th class="price">
                            PRICE
                        </th>
                        <th class="total">
                            TOTAL
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in cart %}
                        <tr>
                            <td>
                                <input type="checkbox" id="product_{{ product.id }}" name="product" value="{{ product.products.id }}">
                            </td>
                            <td class="thumb">
                                {% thumbnail product.products.image "100x100" crop="center" as im %}
                                    <a href="{% url 'shop:product_detail' product.products.pk %}">
                                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ product.name }}">
                                    </a>
                                {% endthumbnail %}
                            </td>
                            <td class="product">
                                {{ product.products.name }}
                            </td>
                            <td class="quantity">
                                {{ product.quantity }}
                            </td>
                            <td class="price">
                                {{ product.products.price }}
                            </td>
                            <td class="total">
                                {{ product.products.price|mul:product.quantity }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5" class="text-right"><strong>Total Amount:</strong></td>
                            <td class="total"><strong>{{ total_amount }}</strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div class="order_option">
                <span class="left">
                    <span class="text">
                        선택상품을
                    </span>
                    <button type="submit" name="delete_cart" value="delete_cart">삭제하기</button>
                    {% csrf_token %}
                </span>
                <span class="right">
                    <a href="{% url 'shop:cart_checkout' user.pk %}" class="btn btn-primary">전체 결제하기</a>
                </span>
            </div>
        </form>
        
        <!-- pagination nav -->
        <div class="board_paging">
            <ol>
                {% if cart.has_previous %}
                    <li class="paging_pre">
                        <a href="{% url 'shop:cart' user.pk %}?page={{ cart.previous_page_number }}">이전</a>
                    </li>
                {% endif %}

                <li><a href="#">{{ cart.number }}</a></li>

                {% if cart.has_next %}
                    <li class="paging_next">
                        <a href="{% url 'shop:cart' user.pk %}?page={{ cart.next_page_number }}">다음</a>
                    </li>
                {% endif %}
            </ol>
        </div>
    </div>
{% endblock content %}