{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}로그인{% endblock %}</title>
    <link rel="stylesheet" type='text/css' href="{% static 'accounts/signup.css' %}">
</head>

<body>
<link rel="stylesheet" type='text/css' href="{% static 'accounts/login.css' %}">

    <div id="wrap">
        <div class="right-wrap">
            <h3>{% trans "로그인" %}</h3>
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">{% trans "로그인" %}</button>
            </form>
            <p>{% trans "계정이 없으신가요?" %} <a href="{% url 'signup' %}">{% trans "회원가입" %}</a></p>
        </div>
    </div>
</body>
</html>