{% extends "shop/../accounts/base.html" %}

{% block title %}
    PAYMENT
{% endblock title %}

{% block content %}
    {% load static  %}
    {% load thumbnail %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>

    <link rel="stylesheet" type='text/css' href="{% static 'shop/style.css' %}">
    <div class="content">
        <div id="pagetitle">
            <h3>PAYMENT</h3>
        </div>
        <div class="order_list">
            <table>
                <thead>
                <tr>
                    <th class="thumb">
                        IMAGE
                    </th>
                    <th class="product">
                        PRODUCT
                    </th>
                    <th class="quantity">
                        QUANTITY
                    </th>
                    <th class="price">
                        PRICE
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for item in cart_items %}
                <tr>
                    <td class="thumb">
                        {% thumbnail item.products.image "100x100" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ item.products.name }}">
                        {% endthumbnail %}
                    </td>
                    <td class="product">
                        {{ item.products.name }}
                    </td>
                    <td class="quantity">
                        {{ item.quantity }}
                    </td>
                    <td>
                        {{ item.products.price }}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" style="text-align: right;"><strong>Total:</strong></td>
                        <td><strong>{{ total_amount }}</strong></td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="order_option">
            <form action="" method="POST" id="order-form">
                {% csrf_token %}
                <div>
                    <table>
                        {{ form.as_table }}
                    </table>
                    {{ initial }}
                </div>
                <input type="button" class="btn" id="payment-button" value="결제하기">
            </form>
        </div>
    </div>
{% endblock content %}

{% block extra_body %}
    <script>
        $(function() {
            var IMP = window.IMP;
            IMP.init('{{ iamport_shop_id }}');
            
            $('#payment-button').click(function(e) {
                e.preventDefault();
                var $form = $('#order-form');
                var params = {
                    pg: 'inicis',
                    pay_method: 'card',
                    merchant_uid: 'merchant_' + new Date().getTime(),
                    name: '장바구니 결제',
                    amount: {{ total_amount }},
                    buyer_email: '{{ user.email }}',
                    buyer_name: '{{ user.username }}',
                    buyer_tel: '010-0000-0000',  // 실제 사용자 전화번호로 변경해야 함
                    buyer_addr: '서울특별시 강남구 삼성동',  // 실제 사용자 주소로 변경해야 함
                    buyer_postcode: '123-456',  // 실제 사용자 우편번호로 변경해야 함
                };
                
                IMP.request_pay(params, function(response_data) {
                    console.log('response_data :', response_data);
                    if ( !response_data.success ) {
                        alert(response_data.error_msg + "(" + response_data.error_code + ")");
                        location.href = '{% url "shop:index" %}';
                    }
                    else {
                        $.each(response_data, function(key, value) {
                            $form.append($('<input>').attr({
                                type: 'hidden',
                                name: key,
                                value: value
                            }));
                        });
                        $form.submit();
                    }
                });
            });
        });
    </script>
{% endblock %}